/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: url('../BackgroundJacknPoy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    /* padding-top: 2.5rem; */
    flex-wrap: wrap;
    position: relative;
}

.container .back-to-home{
    position: absolute;
    left: 7%;
    top: 10%;
    transition: all .2s ease-in-out;
}

.container .back-to-home a{
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 0px #000;
    transition: all 2s ease-in-out;
}

.container .back-to-home:hover{
    transform: translateX(-30%);
}

.container h2 {
    width: 300px;
    font-size: 35px;
    font-family: "Sekuya", system-ui;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px #000;
    margin-top: 2.5rem;
}

/* .container h1{
    width: 300px;
    font-size: 35px;
    font-family: "Sekuya", system-ui;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px #000;
} */

.container .sub-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 0px;
    flex-basis: 100%;
    /* margin-top: 1rem; */
    position: relative;
}

.container .sub-container .player img {
    width: 350px;
    height: 350px;
}

/* .container .sub-container .items {
    display: none;
    column-gap: 40px;
} */

.container .sub-container .item-1 {
    display: none;
    column-gap: 40px;
    animation: animate 1.5s infinite;
}

.container .sub-container .item-2 {
    display: none;
    column-gap: 40px;
    animation: animate 1.5s infinite;
}

.container .sub-container .items img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.container .sub-container .player {
    position: relative;
    display: flex;
}

/* .container .sub-container .player .jack-en-poy-items{
    display: flex;
} */

.container .sub-container .player button {
    position: absolute;
    width: 200px;
    right: -10%;
    bottom: -18%;
    transform: translate(-50%, -50%);
    padding: 7px 30px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #009247;
    border: 3px solid #016A38;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.container .sub-container .player-1 img {
    animation: animate 1.5s infinite;
}

.container .sub-container .player-2 img {
    animation: animate 1.5s infinite;
}

.container .sub-container .item-1 .jack-item {
    transform: scaleX(-1);
}

/* .vs{
    display: flex;
} */

.items-Jack {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px 0px 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .item-img {
    transform: scaleX(-1);
}

.show-items1 {
    display: none;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 1rem;
}

.show-items2 {
    display: none;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 1rem;
}

#player1_picture {
    display: none;
    /* transform: scaleX(-1); */
    transform-origin: center;
}


#player2_picture {
    display: none;
    
}

#player2_picture.ProcessJack {
    animation: jackShake 1.5s infinite;
}

#timer {
    color: white;
    text-shadow: 3px 3px 0px #000;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}

.vs_item {
    display: none;
}

.vs_item h2 {
    margin: 0px 0px 0px;
}

#What_player1 {
    width: 321.33px;
    text-align: center;
}

#What_player2 {
    width: 321.33px;
    text-align: center;
}

.start-game {
    display: none;
}

.start-game button {
    padding: 7px 30px;
    border-radius: 10px;
    background-color: #009247;
    border: 3px solid #016A38;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.end-game {
    display: none;
}

.end-game button {
    padding: 7px 30px;
    border-radius: 10px;
    background-color: #e33030;
    border: 3px solid #ad1d1d;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    );
    display: none;
    z-index: 998;
}

#modal {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: none;
    z-index: 999;
    padding-top: 1rem;
    padding: 20px;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#modal h3 {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    margin-top: 1rem;
}

#modal button{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#modal p {
    margin-top: 1.5rem;
    font-size: 16px;
}

#modal ul {
    margin-left: 17px;
    margin-top: 1rem;
}

#modal ul li {
    text-align: left;
    line-height: 35px;
}

#modal ol{
    margin-left: 17px;
    margin-top: 1rem;
}

#modal ol li{
    text-align: left;
    line-height: 35px;
}

@keyframes jackShake{
    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes animate {
    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}