@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FFFAF0;
    height: 100vh;
}

/* body{
    height: 100vh;
    background-image: url('../BackgroundJacknPoy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
} */

/* .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 10px;
} */

/* 
.container nav .nav-logo img{
    width: 80px;
    height: 80px;
} */

.container nav .nav-logo h4 {
    font-family: "Sekuya", system-ui;
    color: #f0a11f;
    font-weight: bold;
    text-shadow: 3px 3px 0px #000;
    font-size: 20px;
}

.container nav .nav-list ul {
    display: flex;
    column-gap: 4rem;
}

.container nav .nav-list ul li {
    list-style: none;
}

.container nav .nav-list ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.container nav .nav-list ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
}

/* .container nav .nav-acc a {
    padding: 7px 30px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid #f0a11f;
    color: #f0a11f;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in;
    text-decoration: none;
}

.container nav .nav-acc a:hover {
    box-shadow: 0px 0px 3px 3px #cd7f01;
    color: white;
    background-color: #f0a11f;
} */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    height: 100vh;
}

main h2 {
    /* margin-top: 11rem; */
    width: 18.5ch;
    overflow: hidden;
    text-wrap: nowrap;
    animation: typing 5s steps(33) infinite alternate-reverse;
    border-right: 5px solid black;
    font-family: "Sekuya", system-ui;
    font-size: 28px;
}

main .main-text{
    margin-top: 2rem;
    text-align: center;
}

@keyframes typing {
    from {
        width: 0ch;
    }
}

main p {
    width: 500px;
    margin-top: 1rem;
    line-height: 28px;
    font-size: 16px;
}

main button {
    padding: 7px 30px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    /* background-color: #009247;
    border: 3px solid #016A38; */
    border: 3px solid #cd7f01;
    background-color: #f0a11f;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 3.5px 3.5px white;
    margin-top: 1rem;
    transition: all .5s ease-in;
}

main a {
    padding: 7px 30px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    /* background-color: #009247;
    border: 3px solid #016A38; */
    border: 3px solid #cd7f01;
    background-color: #f0a11f;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 3.5px 3.5px white;
    margin-top: 1rem;
    transition: all .5s ease-in;
    text-decoration: none;
}

/* .container main button:hover {
    transform: scale(1.1);
} */

.container main .main-image{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 4rem; */
    /* background-color: #f0a11f;
    height: 72.5vh; */
    margin-top: -3rem;
}

.container main .main-image img{
    width: 180px;
    height: 180px;
    animation: animate 1.5s infinite;
}

@keyframes animate{
    50%{
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(-5deg);
    }
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.buttons a:nth-child(2){
    border: 2px solid #f0a11f;
    color: #f0a11f;
    background-color: white;
}

.buttons a:nth-child(2):hover{
    box-shadow: 0px 0px 3px 3px #cd7f01;
    color: white;
    background-color: #f0a11f;
}

#section{
    height: 100vh;
    display: none;
}

#section .section-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section .section-body h2{
    margin-top: 2.5rem;
    font-family: "Sekuya", system-ui;
}

#section .section-body .section-modes{
    overflow-y: auto;
    height: 500px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0rem;
}

#section .section-body .section-modes p, a{
    font-size: 14px;
}

#section .section-body .section-modes ::-webkit-scrollbar{
    width: 5px;
}

#section .section-body .section-modes ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#section .section-body .section-modes .section-div{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    /* width: 100%; */
    width: 531px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.1);
    color: black;
    font-weight: 500;
    margin-top: 2rem;
}

#section .section-body .section-modes a .group-image img{
    width: 40px;
    height: 40px;
}

#section .section-body .section-modes .group-image img{
    width: 40px;
    height: 40px;
}

#section .section-body .section-modes .section-div .group-text{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}

#section .section-body .section-modes .section-div .group-location a{
    color: black;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

#section .section-body .section-modes .section-div .group-location a .fa-arrow-right{
    transition: all 0.4s ease-in-out;
}

#section .section-body .section-modes .section-div .group-location a:hover .fa-arrow-right{
    transform: translate(20%);
} 


#section2{
    height: 100vh;
    display: none;
}

#section2{
    height: 100vh;
    display: none;
}

#section2 .section-body2{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    padding-top: 3.5rem;
}

#section2 .section-body2 h2{
    /* margin-top: 4rem; */
    font-family: "Sekuya", system-ui;
    text-align: center;
}

#section2 .section-body2 h3{
    margin-left: 0rem;
    margin-top: 2rem;
    font-family: "Sekuya", system-ui;
}

#section2 .section-body2 .about-us {
    margin-left: 4rem;
    display: flex;
}

#section2 .section-body2 .about-us img{
    width: 600px;
    height: 350px;
    margin-top: 2rem;
}

#section2 .section-body2 .about-us .about-text{
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
}

#section2 .section-body2 .about-us .about-text p{
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
}

#section2 .section-body2 .about-us .about-text p:nth-child(2){
    margin-top: 1rem;
}


